<main>
    <form action="#" method="POST" class="cat-form" enctype="multipart/form-data">
        <h2>Edit Cat</h2>
        <label for="name">Name</label>
        <input type="hidden" name="catId" value="{{cat.id}}">
        <input type="text" id="name" name="name" value="{{cat.name}}">
        <label for="description">Description</label>
        <textarea
            id="description" name="description">{{cat.description}}</textarea>
        <label for="image">Image</label>
        <img id="output" src="/images/{{cat.image}}" alt="{{cat.name}}">
        <input type="file" id="image" name="upload" onchange="loadFile(event)">
        <label for="group">Breed</label>
        <select name="breed" id="group">
            <option selected="selected" value="{{cat.breed}}">{{cat.breed}}</option> 
            {{#each breeds}}
            <option value="{{this}}">{{this}}</option> 
            {{/each}}
        </select>
        <label for="price">Price</label>
        <input type="text" id="price" name="price" value="{{cat.price}}">
        <button type="submit">Edit Cat</button>
    </form>
</main>

<script>
  const loadFile = function(event) {
    const reader = new FileReader();
    reader.onload = function(){
      const output = document.getElementById('output');
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  };
</script>